language: generic
sudo: required 
services: 
    - docker 

before_install:
   - docker build -t ronaldcast/docker-react -f Dockerfile.dev . 

script:
   - docker run -e CI=true ronaldcast/docker-react npm run test

deploy:
    edge: true
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "docker-react"
    env: "DockerReact-env"
    bucket_name: "elasticbeanstalk-us-east-2-024792341253"
    bucket_path: "docker-react"
    on:
        branch: master 
    access_key_id: $AWS_ACCESS_KEY      
    secret_access_key: $AWS_SECRET_KEY
        secure: "$AWS_SECRET_KEY"